.navbar {
    display: flex;
    align-items: center;
    background: #55acac;
    padding: 0 40px;
    height: 50px;
}

.content {
    background-image: url(../public/bg.jpg);
    height: calc(100vh - 50px);
    padding: 0 40px;
    background-repeat: no-repeat;
    background-size: cover;
}