.list_title {
    margin-bottom: 20px;
    color: #066c74;
}

.list_item {
    list-style: none;
    margin-bottom: 5px;

    & a {
        font-size: 18px;
        color: #066c74;
        -webkit-text-stroke: 0.3px #000000;
        margin: 0;

        &:hover {
            opacity: 0.5;
        }
    }
}
